*
{margin: 0;
padding: 0;
box-sizing: border-box;
font-family: Agency FB}
body
{padding: 20px;}
.main
{padding: 7px;}
.main img
{padding: 12px;
height: 200px;
width: 250px;}
.lg
{text-align: center;}
.electronics
{display: flex;
overflow-x: scroll;
width: 100%;
height: 300px;
padding: 3px;
border: 2px  solid black;
border-radius: 20px;}
.electronics img
{margin-top: 20px;}
.gadetch
{display: flex;
overflow-x: scroll;
width: 100%;
height: 380px;
padding: 3px;
border-right:  5px;
border: 2px  solid black;
border-radius: 20px;}
.gadetch img
{height: 350px;
width: 220px;
border: 20px;
}
.header
{background-color: #FF8C00;
box-shadow: 5px 5px 10px;
height: 50px;
width: 100%;}
::-webkit-scrollbar {
  width: 10px;
  height: 7px;
}
::-webkit-scrollbar-track {
  ; 
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: #FF8C00; 
  border-radius: 10px;
}
